<div class="nav-wrapper">
    <div class="main-logo">
        <img src="../images/logo.png" alt="LOGO">
    </div>
    <div class="nav-menu">
        <h2>Play SA Lotto with Misen Groups</h2>
    </div>
    <div class="logout-btn">
        <a href="/">
            <div>LOGOUT</div>
        </a>
    </div>
</div>
<div class="homeview-wrapper">
    <div id="draw-control">
        <div id="new-draw">
            <form action="/draw" method="POST">
                <input id="new-draw-date" type="date" name="drawDate">
                <input id="new-draw-numbers" type="text" name="drawNumbers" placeholder="New Draw Numbers">
                <button>ADD NEW DRAW</button>
            </form>
        </div>
        <div id="draw-history">
            <table id="draw-history-data">
                <th style="width: 3rem;">Game<br />No.</th>
                <th style="width: 6rem;">Draw Date</th>
                <th style="width: 3rem;">Draw<br />No.</th>
                <th style="width: 8rem;">Draw Numbers</th>
                <th style="width: 3rem;">Bonus</th>
                {{#each drawData}}
                <tr>
                    <td> {{this.gameNumber}} </td>
                    <td> {{this.drawDate}} </td>
                    <td> {{this.drawNumber}} </td>
                    <td> {{this.drawNumbers}} </td>
                    <td> {{this.bonusNumber}} </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="groupmain-display">
        <div class="grouptab" id="grouptab-A">
            {{#each groupList}}
            <a href="/home/{{{this}}}">
                <div class="group-link">
                    <h1> {{this}} </h1>
                    <div class="group-info">
                        <div>Last updated: <span>2020-09-12</span></div>
                        <div>Last Trained: <span>2020-09-04</span></div>
                        <div>Error Rate: <span>0.0124054337</span></div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        <div class="grouptab" id="grouptab-B">
            {{#each groupList}}
            <a href="/home/{{{this}}}">
                <div class="group-link">
                    <h1> {{this}} </h1>
                    <div class="group-info">
                        <div>Last updated: <span>2020-09-12</span></div>
                        <div>Last Trained: <span>2020-09-04</span></div>
                        <div>Error Rate: <span>0.0124054337</span></div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>